<div class="ui segment font-thSarabun" id="register-3">
    <h4 class="ui dividing header font-FCActive">ข้อมูลคำถาม</h4>
    <p class="font-thSarabun">น้องเป็นหนึ่งในสมาชิกแก๊งซึ่งถูกหมายตาโดยหลาย ๆ ฝ่ายจากการโจรกรรมที่สำเร็จนับครั้งไม่ถ้วน
        และในตอนนี้น้องได้รับมอบหมายให้วางแผนการโจรกรรมครั้งใหญ่ จากหัวหน้าแก๊งของน้อง
        โดยน้องได้รับทรัพยากร และเป้าหมายโจรกรรมมาดังนี้</p>
    <div class="ui segment">
        <h4 class="font-thSarabun">ทรัพยากร</h4>
        <ul>
            <li class="font-thSarabun">ลูกสมุน (สามารถรับมือศัตรูได้ 1 คน) จำนวน 10 คน เนื่องด้วยลูกสมุนไร้ความสามารถ
                ทุกครั้งที่ส่งไปปล้น
                จะได้รับบาดเจ็บ 2 คน (ผู้ที่บาดเจ็บไม่สามารถทำภารกิจต่อได้)</li>
            <li class="font-thSarabun">ผู้ที่มีความสามารถในการต่อสู้ (สามารถรับมือหน่วยรักษาความปลดภัยขั้นสูงได้มากถึง 6
                คน) จำนวน 2 คน
                ถ้าส่งไปพร้อมลูกสมุนจะทำให้ลูกสมุนรับมือกับศัตรูได้ 2 คน</li>
            <li class="font-thSarabun">ไซบอร์ก จำนวน 1 ตน มีความสามารถในการรับมือกับระบบรักษาความปลอดภัยต่าง ๆ ได้
                แต่ถ้าโดนซ็อต
                จะส่งผลให้ระบบเกิดความผิดพลาด</li>
            <li class="font-thSarabun">เงิน จำนวน 1000€Ƶ และ รถขนส่ง จำนวน 1 คัน</li>
        </ul>
        <h4 class="font-thSarabun">เป้าหมายโจรกรรม</h4>
        <img class="ui huge image" src="/assets/img/question-map.jpg" alt="">
        <ul>
            <li class="font-thSarabun">ธนาคาร มีหน่วยรักษาความปลดภัยขั้นสูงมากถึง 20 คน
                (<span class="register-underline">ซึ่งอุปกรณ์ปกติไม่สามารถทำอะไรหน่วยรักษาความปลอดภัยได้</span>)
                มีกล้องวงจรปิด มีระบบตรวจจับความร้อน
                ทั้งหมดนี้ เพื่อรักษาทองคำมูลค่า 4000€Ƶ</li>
            <li class="font-thSarabun">ตลาดมืด ตั้งอยู่ในโกดังร้างใต้ดินที่มีหน่วยรักษาความปลอดภัย<span
                    class="register-underline">ที่มีปืนและกระบองไฟฟ้าปนกัน</span>กว่า 10 คน
                ซึ่งน้องสามารถ<span class="register-underline">ชื้อขาย</span>หรือ<span
                    class="register-underline">จะทำการปล้น</span>ก็ได้โดยภายในตลาดมืดจะมี
                <ul>
                    <li class="font-thSarabun">ปืนขายอยู่ที่ 300€Ƶ ต่อกระบอก (จำนวน : 10 กระบอก)</li>
                    <li class="font-thSarabun">ลูกสมุนจ้างได้ที่ 200€Ƶ ต่อคน</li>
                    <li class="font-thSarabun">ในแต่ละช่วงเวลาะมีสินค้าพิเศษหมุนเวียนเข้ามาในตลาดมืดแห่งนี้ โดยแบ่งเป็น
                        3 ช่วงเวลา
                        <ul>
                            <li class="font-thSarabun">ตอนเช้า จะมีพ่อค้าขายแร่หายากที่มีมูลค่า 1000€Ƶ</li>
                            <li class="font-thSarabun">ตอนกลางวัน จะมีพ่อขายขายอุปกรณ์พิเศษ
                                (<span
                                    class="register-underline">ซึ่งสามารถทำให้ลูกสมุนปกติของเราต่อกรกับหน่วยรักษาความปลอดภัยขั้นสูงได้</span>)
                            </li>
                            <li class="font-thSarabun">ตอนกลางคืน
                                จะมีการนัดชื้อขายสินค้าล็อตใหญ่ทำให้หน่วยรักษาความปลอดภัยเพิ่มขึ้นสองเท่า
                                ซึ่งสินค้านี้มีมูลค่า 8000€Ƶ</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="font-thSarabun">บ้านของผู้ที่มีอิทธิพลสูง
                ซึ่งบ้านหลังนี้มีข่าวลือของกุญแจพิเศษที่สามารถไขอะไรก็ได้ในเมืองนี้
                มีหน่วยรักษาความปลดภัยขั้นสูงอยู่ 5 คน (<span
                    class="register-underline">ซึ่งอุปกรณ์ปกติไม่สามารถทำอะไรหน่วยรักษาความปลอดภัยได้</span>)
                และมีระบบรักษาความปลอดภัยจำนวนมาก ทำให้ส่งคนไปได้น้อย และยังใช้เวลาทั้งวันอีกด้วย
                (ทำให้น้องไม่สามารถใช้คนที่น้องส่งมาที่นี่ไปทำอย่างอื่นต่อได้)
            </li>
            <li class="font-thSarabun">คลังอาหารที่ใหญ่ที่สุดในเมือง มีหน่วยรักษาความปลอดภัย<span
                    class="register-underline">ที่มีกระบองไฟฟ้า</span> อยู่ 4 คน
                ซึ่งในคลังอาหารนี้ มี - เมล็ดพันธุ์ - อาหาร - น้ำ ซึ่งเป็นสิ่งที่หายากของที่นี่
                แต่ว่าไม่มีมูลค่าทางการชื้อขาย</li>
        </ul>
    </div>
</div>
<h4 class="ui dividing header"></h4>
<form class="ui form font-thSarabun" action="/register/{{step}}" method="POST">
    <div class="field">
        <label class="font-FCActive">คำถามข้อที่ 1</label>
        <p class="font-thSarabun">จากข้อมูลที่และทรัพยากรที่ได้มาน้องจงวางแผนการโจรกรรม โดยให้เขียนขั้นตอนการปล้น
            และเหตุผลที่เลือกทำขั้นตอนนั้น ๆ โดยน้องสามารถเลือกสถานที่ที่จะปล้น, จำนวนคน, อุปกรณ์ที่ใช้, และ
            ช่วงเวลา (น้องสามารถเติมแต่งเรื่องราวตามจินตนาการของน้องได้เลย)</p>
        <textarea name="answer1" placeholder="คำตอบ">{{answerData.answer1}}</textarea>
    </div>
    <div class="field" id="Q2">
        <label class="font-FCActive">คำถามข้อที่ 2</label>
        <p class="font-thSarabun">จากข้อที่แล้วที่น้องตอบมา แก๊งของน้องก็ได้ทำตามแผนที่วางเอาไว้
            แต่ว่าลูกสมุนของน้องคนนึ่งเป็นสายให้กับตำรวจ จึงทำให้แก๊งของน้องโดนซ้อนแผน
            และถูกไล่ล่าขณะที่ทำการปล้น ซึ่งทางตำรวจได้แบ่งกำลังออกเป็นสองฝ่าย(ตอบได้ 1 อย่าง พร้อมอธิบายเหตุผล)</p>
        <ul>
            <li class="font-thSarabun">ฝ่ายแรกบุกไปฐานที่มั่นของน้อง โดยหัวหน้าน้องได้เสียสละถ่วงเวลาให้พวกน้องหนีไป
            </li>
            <li class="font-thSarabun">ฝ่ายที่สองบุกจับกุมพวกน้องในขณะที่ทำการปล้น น้องจะเลือกที่จะ</li>
        </ul>
        <div class="grouped fields">
            <label class="font-FCActive">น้องเลือกที่จะ</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="answer2_choice" value="help">
                    <label
                        class="register-underline font-thSarabun">พาสมาชิกที่อยู่กับน้องกลับไปช่วยหัวหน้าของน้องและสมาชิกที่เหลือแต่เสี่ยงที่จะโดนจับกันหมด</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="answer2_choice" value="escape">
                    <label
                        class="register-underline font-thSarabun">พาสมาชิกที่เหลือหนีไปพร้อมกับของที่ได้ทำการปล้นมาและทิ้งหัวหน้าแก๊งของน้องไว้</label>
                </div>
            </div>
        </div>
        <textarea name="answer2" placeholder="เพราะว่า. . . ">{{answerData.answer2}}</textarea>
    </div>
    <div class="field">
        <label class="font-FCActive">คำถามข้อที่ 3</label>
        <p id="Q3-1" style="display: none;" class="font-thSarabun">
            ถึงแม้ว่าน้องจะนำสมาชิกแก๊งกลับมารวมกันเพื่อต่อสู้กับตำรวจแล้วก็ตาม
            แต่ด้วยกำลังตำรวจจำนวนมากทำให้น้องไม่สามารถต่อสู้ฝ่าวงล้อมออกไปได้และสูญเสียสมาชิกแก๊งบางส่วนไปรวมถึงหัวหน้าของน้องด้วย
            ส่งผลให้แก๊งของน้องต้องการหัวหน้าคนใหม่ น้องจะมีวิธีอย่างไรเพื่อให้ตัวเองได้ขึ้นเป็นหัวหน้า</p>
        <p id="Q3-2" style="display: none;" class="font-thSarabun">จากการที่น้องได้ตัดสินใจไปนั้น
            ทำให้หัวหน้าและสมาชิกแก๊งค์ที่เหลือต้องต่อสู้เพียงลำพัง
            และไม่มีใครรอดชีวิตมาได้เลยทำให้ในตอนนี้แก๊งของน้องขาดหัวหน้าไป และต้องการหัวหน้าคนใหม่
            น้องจะมีวิธีอย่างไรเพื่อให้ตัวเองได้ขึ้นเป็นหัวหน้า</p>
        <textarea class="disabled field" name="answer3" placeholder="คำตอบ">{{answerData.answer3}}</textarea>
    </div>
    <h4 class="ui dividing header"></h4>
    <button class="ui button" type="submit" name="action" value="prev">Prev</button>
    <button class="ui button" type="submit" name="action" value="next">Next</button>
    <div class="ui error message"></div>
</form>
<script>
    var q3selected = "{{answerData.answer2_choice}}";
    var value = $('[value=' + q3selected + ']');
    console.log(value.parent());
    value.attr("checked", "true");

    if (q3selected == 'help') {
        $('#Q3-1').css('display', 'block');
        $('textarea[name="answer3"]').removeClass("disabled field");
    } else if (q3selected == 'escape') {
        $('#Q3-2').css('display', 'block');
        $('textarea[name="answer3"]').removeClass("disabled field");
    }
</script>
<script>


    $('input[value = "help"]').change(function () {
        if ($(this).is(':checked')) {
            $('#Q3-2').css('display', 'none');
            $('#Q3-1').css('display', 'block');
            $('textarea[name="answer3"]').removeClass("disabled field");
        } else {
            $('#Q3-1').css('display', 'none');
            $('#Q3-2').css('display', 'block');
            $('textarea[name="answer3"]').removeClass("disabled field");
        }
    });

    $('input[value="escape"]').change(function () {
        if ($(this).is(':checked')) {
            $('#Q3-1').css('display', 'none');
            $('#Q3-2').css('display', 'block');
            $('textarea[name="answer3"]').removeClass("disabled field");
        } else {
            $('#Q3-2').css('display', 'none');
            $('#Q3-1').css('display', 'block');
            $('textarea[name="answer3"]').removeClass("disabled field");
        }
    });
</script>
<script src="/assets/js/register-3-validate.js"></script>
<script>
    $('.ui.form').form(fieldsValidators);
</script>